.article {
    padding: 20px;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
}

#article-image {
    border-radius: 10px;
    max-width: 100%
}

#article-title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#article-button {
    border-radius: 10px;
    max-width: 420px;
    flex-grow: 1;
}
